# Docker ignore file
.git
.env
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
public/storage
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
